<h1>Angular Web Worker Example</h1>
<button (click)="startCounting1()">Start Counting</button>
<button (click)="stopCounting1()">Stop Counting</button>
<button (click)="alert()">alert bruh</button>
<p>Count from Worker: {{ workerMessage1 }}</p>

<h1>Angular Web Worker Example</h1>
<button (click)="startCounting2()">Start Counting</button>
<button (click)="stopCounting2()">Stop Counting</button>
<button (click)="alert()">alert bruh</button>
<p>Count from Worker: {{ workerMessage2 }}</p>

<h1>Angular Web Worker Example</h1>
<input [ngModel]="inputValue" (ngModelChange)="inputValue = $event"
    placeholder="Enter a value">
<button (click)="showInputValue()">Show Value</button>
<p>Input Value: {{ inputValue }}</p>